body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.member-card {

  width: 500px;
  margin: 0 auto;
}

.input-csv {
  margin-top: 20px;
}

.csv-input {
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  border: 5px dashed #ccc;
  border-radius: 5px;
}
.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row; 
  gap: 20px;
}

.button-delete {
  background-color: #dc3545;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 10px 23px;
  border-radius: 5px;
  cursor: pointer;
}

.button-delete:hover{
  background-color: #8f1622;
}
.button-submit {
  background-color: #1e40af;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.button-submit:hover{
  background-color: #0b2476;
}
